.box {
    width: 25%;
    height: 75%;
    background-color: #dddddd;
}

.box1 {
    width: 20%;
    height: 55%;
    background-color: #dddddd;
}

.myclass {
    color: green;
}

.thead-dark {
    color: #FFFFFF;
}

